
<ul class="settings">
  <li class="li-components"><%= link_to 'Компоненты', '/components' %></li>
</ul>

<ul class="settings">
  <li class="li-structs"><%= link_to 'Структуры', '/structs' %></li>
  <li class="li-validators"><%= link_to 'Валидаторы', '/validators' %></li>
</ul>

<ul class="settings">
  <li class="li-definitions"><%= link_to t(:az_label_definitions), '/definitions' %></li>
  <li class="li-commons"><%= link_to 'Общие положения', '/commons' %></li>
  <li class="li-commons"><%= link_to 'Эксплуатационные назначения', '/purpose_exploitations' %></li>
  <li class="li-commons"><%= link_to 'Функциональные назначения', '/purpose_functionals' %></li>
  <li><%= link_to 'Функциональные характеристики', '/functionality' %></li>
  <li class="li-hosting"><%= link_to 'Требования к хостингу', '/requirements_hosting' %></li>
  <li><%= link_to 'Требования к надежности', '/requirements_reliability' %></li>
  <li class="li-acceptance"><%= link_to 'Условия сдачи и приемки работы', '/acceptance_conditions' %></li>
  <li class="li-content"><%= link_to 'Наполнение сайта', '/content_creation' %></li>
</ul>

<ul class="settings">
  <li><%= link_to 'Шаблоны текстов ТЗ', '/tr_texts' %></li>
  <!--li><%= link_to 'Шаблоны задач', '/tasks' %></li-->
</ul>

<ul class="settings">
  <li class="li-employees"><%= link_to 'Работники', '/employees' %></li>
</ul>
