<h1>Editing image</h1>

<%= form_for(@image) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :design_id %><br />
    <%= f.text_field :design_id %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>