<h1>Общая активность</h1>
<table class="table">
  <tr>
    <th><%= t(:az_label_project) %></th>
    <th><%= t(:az_label_project_owner) %></th>
    <th>count</th>
  </tr>

<% @az_activities.each do |az_activity| %>
  <tr>
    <td>
      <% if az_activity.az_project %>
        <%= h az_activity.az_project.name %>
      <% end %>
    </td>
    <td><%= h az_activity.az_company.name %></td>
    <td><%= h az_activity.cnt %></td>
  </tr>
<% end %>
</table>

<br />
