<p>
  <%= f.label :az_store_item_id %><br />
  <%= f.text_field :az_store_item_id %>
</p>
<p>
  <%= f.label :alt %><br />
  <%= f.text_field :alt %>
</p>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.file_field :scetch %><br/>
</p>
