<h1>Редактирования скетча товара</h1>

<%= form_for(@az_store_item_scetch, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= render( :partial => 'new_edit', :locals => {:f => f}) %>

  <p>
    <%= f.submit t(:az_label_save) %>
  </p>

<% end %>

<%= link_to 'Show', @az_store_item_scetch %> |
<%= link_to 'Back', az_store_item_scetches_path %>