<h1>Editing az_allowed_operation</h1>

<%= form_for(@az_allowed_operation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :az_typed_page_id %><br />
    <%= f.text_field :az_typed_page_id %>
  </p>
  <p>
    <%= f.label :az_operation_id %><br />
    <%= f.text_field :az_operation_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @az_allowed_operation %> |
<%= link_to 'Back', az_allowed_operations_path %>