<h1>Editing az_base_data_type</h1>

<% form_for(@az_base_data_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :az_base_data_type_id %><br />
    <%= f.text_field :az_base_data_type_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @az_base_data_type %> |
<%= link_to 'Back', az_base_data_types_path %>