<p>
  <b>Name:</b>
  <%=h @az_base_data_type.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @az_base_data_type.type %>
</p>

<p>
  <b>Az base data type:</b>
  <%=h @az_base_data_type.az_base_data_type_id %>
</p>


<%= link_to 'Edit', edit_az_base_data_type_path(@az_base_data_type) %> |
<%= link_to 'Back', az_base_data_types_path %>