<p>
  <b>Name:</b>
  <%=h @az_scetch_program.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @az_scetch_program.url %>
</p>

<p>
  <b>Description:</b>
  <%=h @az_scetch_program.description %>
</p>


<%= link_to 'Edit', edit_az_scetch_program_path(@az_scetch_program) %> |
<%= link_to 'Back', az_scetch_programs_path %>