<h1>Editing az_employee</h1>

<% form_for(@az_employee) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :az_user_id %><br />
    <%= f.text_field :az_user_id %>
  </p>
  <p>
    <%= f.label :az_company_id %><br />
    <%= f.text_field :az_company_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @az_employee %> |
<%= link_to 'Back', az_employees_path %>