<h1>New az_operation_time</h1>

<%= form_for(@az_operation_time) do |f| %>
  <%= f.error_messages %>

  <%= render( :partial => 'new_edit', :locals => {:form => f, :az_operations => @az_operations}) %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', az_operation_times_path %>