
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :english_name %><br />
  <%= f.text_field :english_name %>
</p>
<p>
  <%= f.label :code %><br />
  <%= f.text_field :code %>
</p>

<p>
  <%= f.file_field :lang_icon %><br/>
</p>

