<h1>Редактирование языка</h1>

<% form_for(@az_language, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= render( :partial => 'new_edit', :locals => {:f => f}) %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @az_language %> |
<%= link_to 'Back', az_languages_path %>