<h1>Новый язык</h1>

<%= form_for(@az_language, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= render( :partial => 'new_edit', :locals => {:f => f}) %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', az_languages_path %>