<% is_admin = current_user.roles.include?(:admin) %>

<% @my_companies.each do |company| %>

  <%= item_list_header("Список валидаторов", company, @my_companies.size > 1) %>

  <table class="table">
    <tr>
      <th><%= t(:az_label_name) %></th>
      <th><%= t(:az_label_description) %></th>
      <th>Сообщение</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <% if is_admin %>
        <th class="admin">seed</th>
        <th class="admin">&nbsp;</th>
      <% end %>
    </tr>
  <% @validators[company].each do |validator| %>
    <tr>
      <td><%=h validator.name %></td>
      <td><%= RedCloth.new(n2e validator.description).to_html %></td>
      <td><%= RedCloth.new(n2e validator.message).to_html %></td>
      <td><%= link_to t(:az_label_show), validator %></td>
      <td><%= link_to t(:az_label_edit), edit_az_validator_path(validator) %></td>
      <td><%= link_to t(:az_label_delete), validator, :confirm => t(:az_label_are_you_sure), :method => :delete %></td>
      <% if is_admin %>
        <td class="admin"><%= boolean_to_img(validator.seed) %></td>
        <td class="admin">
          <% if validator.seed %>
            <%= link_to 'Обновить всем', :controller=>'az_services', :action => 'update_validators_from_seed', :id => validator.id %>
          <% else %>
            &nbsp;
          <% end %>
        </td>
      <% end %>
  </tr>
  <% end %>
  </table>

  <br/>

  <%= link_to 'Новый валидатор', :controller=>'az_validators', :action => 'new', :owner_id => company.id %>

<% end %>

<% if is_admin %>
  <p>
    <%= link_to 'Обновить все сиды', :controller=>'az_services', :action => 'update_validators_from_seed', :id => 0 %>
  </p>
<% end %>

