<div class="main-page">
  
    <div class="main-content">
      <div class="main-top-block">

        <% if false && logged_in? && !current_user.roles.include?(:visitor) %>
          <div class="main-top-notifications">
            <%= link_to "Изменения, обновления и исправления ошибок", image_path("/updates.html"), :class => 'updates' %>
          </div>
        <% end %>
        
        <h1>Azalo - технические задания на сайт</h1>
        <div class="video">
          <iframe width="560" height="349" src="https://www.youtube.com/embed/McBiXkf2wII?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
          <%= aligner_tag %>
        </div>
        <div class="text">

          <h2>Активные проекты</h2>
          <%= render(:partial => 'projects_block', :locals => {:projects => @active_projects}) %>

          <h2>Новые проекты</h2>
          <%= render(:partial => 'projects_block', :locals => {:projects => @latest_projects}) %>
          

          <h2>Популярные проекты</h2>
          <%= render(:partial => 'projects_block', :locals => {:projects => @popular_projects}) %>
          
          <h2>Хорошие проекты</h2>
          <%= render(:partial => 'projects_block', :locals => {:projects => []}) %>

        </div>
        <%= aligner_tag %>
      </div>

      <%= aligner_tag %>
      <div class="main-middle-block">
        <div class="main-middle-block-content">

          <div class="cgk">
            <h3><%= link_to(image_tag('rss.png'), {:controller => 'store', :action => 'rss'}, :class => 'store-rss', :title => 'Новинки в магазине технических заданий') %> Новые компоненты и проекты</h3>
            <% @latest_items.each_with_index do |item, i| %>
              <div class="<%= i == @latest_items.size - 1 ? 'latest-item-last' : 'latest-item' %>">
                <div class="latest-items-name">
                  <h4><%= item.item.class == AzProjectBlock ? 'Компонент' : 'Проект' %>
                      <%= link_to item.item.name.downcase, :controller => 'az_store_items', :action => 'show', :id => item.id %>
                  </h4>
                </div>
                <div class="latest-items-announce"><%= RedCloth.new(n2e item.announce).to_html %></div>
                <div class="latest-items-date"><%= l(item.created_at) %></div>
              </div>
            <% end %>
          </div>
          <div class="news">

            <h3>Новости</h3>
              <% @news.each do |piece_of_news| %>
                <div class="piece-of-news">
                  <div class="title"><%= piece_of_news.title %></div>
                  <div class="announce"><%= link_to piece_of_news.announce, :controller=>'az_news', :action=>'show', :id=>piece_of_news.id%></div>
                  <%= aligner_tag %>
                  <div class="date"><%= l(piece_of_news.created_at) %></div>
                </div>
              <% end %>
            <%= aligner_tag %>
            <% y_m = AzNews.get_latest_news_year_month %>
            <% news_path = dashboard_news_archive_path(:year => y_m[0], :month => y_m[1])%>
            <div class="new-archive-link-holder">
              <%= link_to "Все новости",  news_path%>
            </div>
              <%= aligner_tag %>
              <div class="info">
                <h3>На этой неделе:</h3>
                <h4>зарегистрировалось человек: <%= @new_users_this_week %></h4>
                <h4>создано проектов: <%= @new_projects_this_week %></h4>
              </div>
              <%= aligner_tag %>
          </div>
          <%= aligner_tag %>
          
         </div>
      </div>
      <div class="main-middle-block-bottom-border"></div>
      <div class="bottom-menu-holder">
        <%= link_to t(:az_menu_store), '/store' %>
        <%= link_to t(:az_menu_feedback), '/feedback' %>
        <%= link_to t(:az_menu_news), news_path %>
        <%= link_to t(:az_menu_articles), '/articles' %>
      </div>
      <%#= render( :partial => '/layouts/carousel') %>
    </div>
    <%= aligner_tag %>
  
</div>
