<%= crumbs(@az_struct_data_type.get_crumbs_to_parent) %>

<div id="tooltip-content-struct-1" style="display:none;">
  <p>Структура &#8211; это то, что при программировании проекта станет таблицей в базе данных.</p>
  <p>Например, структура "Сообщение" отобразится на базу данных, как таблица 'messages'.
  Переменные этой структуры будут соответсвовать полям в таблице базы данных.</p>
</div>
<%= t_b %><h1>Новая структура</h1><%= t_e("tooltip-struct-1", "tooltip-content-struct-1") %>

<% if  @az_struct_data_type.az_base_project_id != nil%>
  <h2>Создать</h2>
<% end %>

<% form_for(@az_struct_data_type, :builder => AzFormBuilder) do |f| %>
  <%#= f.error_messages %>

  <%= f.hidden_field :az_base_project_id %>

  <p>
    <%= t(:az_label_name) %><br />
    <%= f.text_field :name %>
  </p>
    <%= f.hidden_field :owner_id %>
  <p>
    <%= f.submit t(:az_label_create) %>
  </p>
<% end %>

<% if  @az_struct_data_type.az_base_project_id != nil%>
  <div id="tooltip-content-struct-2" style="display:none;"><p>Вы можете создать новую структуру на основе уже существующих путем
      копирования наиболее подходящей с последующей корректировкой при необходимости.</p>
  </div>
  <%= t_b %><h2>Копировать из кладовки</h2><%= t_e("tooltip-struct-2", "tooltip-content-struct-2") %>
    
  <table class="table">
    <tr>
      <th><%= t(:az_label_name) %></th>
      <th><%= t(:az_label_description) %></th>
      <th>&nbsp;</th>
    </tr>
    <% @store_structs.each_value do |ss| %>
      <% ss.each do |s| %>
        <tr>
          <td>
            <%= s.name %>
          </td>
          <td>
            <%= s.description %>
          </td>
          <td>
            <% form_for(@az_struct_data_type, :url =>{:controller => 'az_struct_data_types', :action => 'copy_and_attach_to_project', :id => s.id, :project_id => @az_struct_data_type.az_base_project_id}) do |f| %>
              <%= f.submit 'Копировать' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>

  </table>
<% end %>

<%= back_link_for_data_type(@az_struct_data_type) %>
