<h1>Редактирование типа страниц</h1>

<% form_for(@az_page_type) do |f| %>
  <%= f.error_messages %>

  <%= render( :partial => 'new_edit', :locals => {:f => f}) %>

  <table class="table">
  <tr>
    <th>Переменная</th>
    <th>Тип</th>
    <th>.</th>
    <th>.</th>
    <th>.</th>
  </tr>

  <% @az_page_type.az_variables.each do |az_variable| %>
    <tr>
      <td><%=h az_variable.name %></td>
      <td><%=h az_variable.az_base_data_type.name %></td>
      <td><%= link_to t(:az_label_show), az_variable %></td>
      <td><%= link_to t(:az_label_edit), edit_az_variable_path(az_variable) %></td>
      <td><%= link_to t(:az_label_delete), az_variable, :confirm => t(:az_label_are_you_sure), :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <%= link_to('Новая переменная', :controller => "az_variables", :action => "new", :az_struct_data_type_id=>@az_page_type.id) %><br/>

  <p>
    <%= f.submit t(:az_label_save) %>
  </p>

<% end %>

<%= link_to t(:az_label_show), @az_page_type %> |
<%= link_to t(:az_label_back), az_page_types_path %>
