<h1>Список типов страниц</h1>

<table class="table">
  <tr>
    <th><%= t(:az_label_name) %></th>
    <th>.</th>
    <th>.</th>
    <th>.</th>
  </tr>

<% @az_page_types.each do |az_page_type| %>
  <tr>
    <td><%=h az_page_type.name %></td>
    <td><%= link_to t(:az_label_show), az_page_type %></td>
    <td><%= link_to t(:az_label_edit), edit_az_page_type_path(az_page_type) %></td>
    <td><%= link_to t(:az_label_delete), az_page_type, :confirm => t(:az_label_are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый тип страницы', new_az_page_type_path %>
