<h1>New az_project_stat_update</h1>

<% form_for(@az_project_stat_update) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :az_base_project_id %><br />
    <%= f.text_field :az_base_project_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', az_project_stat_updates_path %>