<h1>Редактирование коллекции <q><%= @az_collection_template.name %></q></h1>

<%= form_for(@az_collection_template) do |f| %>
  <%= f.error_messages %>

  <%= render( :partial => 'new_edit', :locals => {:form => f}) %>

  <p>
    <%= f.submit t(:az_label_save) %>
  </p>
<% end %>

<%= link_to t(:az_label_show), @az_collection_template %> |
<%= link_to t(:az_label_back), az_collection_templates_path %>