<table class="table">
  <tr>
    <td>APP_ENVIRONMENT:</td><td><%= APP_ENVIRONMENT %></td>
  </tr>
  <tr>
    <td>AZ_PROTOCOL:</td><td><%= AZ_PROTOCOL %></td>
  </tr>
  <tr>
    <td>AZ_BASE_TASKS_URL:</td><td><%= AZ_BASE_TASKS_URL %></td>
  </tr>
  <tr>
    <td>AZ_TASKS_URL:</td><td><%= AZ_TASKS_URL %></td>
  </tr>
  <tr>
    <td>AZ_URL:</td><td><%= AZ_URL %></td>
  </tr>
  <tr>
    <td>AZ_EMAIL_FOR_MESSAGES:</td><td><%= AZ_EMAIL_FOR_MESSAGES %></td>
  </tr>
  <tr>
    <td>AZ_TEST_PERIOD:</td><td><%= AZ_TEST_PERIOD %> seconds (<%= AZ_TEST_PERIOD/3600/24 %> days)</td>
  </tr>
  <tr>
    <td>AZ_WARNING_PERIOD:</td><td><%= AZ_WARNING_PERIOD %> seconds (<%= AZ_WARNING_PERIOD/3600/24 %> days)</td>
  </tr>
  <tr>
    <td>Admin_email:</td><td><%= Admin_email %></td>
  </tr>
</table>

