<h1>Список простых типов данных</h1>

<table class="table">
  <tr>
    <th><%= t(:az_label_project_owner) %></th>
    <th><%= t(:az_label_name) %></th>
    <th>Операции</th>
    <th>.</th>
    <th>.</th>
    <th>.</th>
  </tr>

<% @az_simple_data_types.each do |dt| %>
  <tr>
    <td><%=h dt.get_owner_name %></td>
    <td><%=h dt.name %></td>
    <td>
      <% dt.az_operation_times.each do |ot| %>
        <%= ot.az_operation.name %> <%= ot.operation_time %><br/>
      <% end %>
    </td>

    <td><%= link_to t(:az_label_show), dt %></td>
    <td><%= link_to t(:az_label_edit), edit_az_simple_data_type_path(dt) %></td>
    <td><%= link_to t(:az_label_delete), dt, :confirm => t(:az_label_are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый тип простых данных', new_az_simple_data_type_path %>
