<h1>Новый тип данных</h1>

<%= form_for(@az_simple_data_type) do |f| %>
  <%= f.error_messages %>

  <%= render( :partial => 'new_edit', :locals => {:form => f, :az_simple_data_type => @az_simple_data_type}) %>

  <p>
    <%= f.submit t(:az_label_create) %>
  </p>
<% end %>

<%= link_to t(:az_label_back), az_simple_data_types_path %>