<h1>Смена пароля</h1>
<%= form_for(user, :url => "/update_password", :builder => AzFormBuilder ) do |f| %>
  <%#= f.error_messages %>

  <p>
    Старый пароль <%= required_field %><br />
    <%= f.password_field :old_password %>
  </p>

  <p>
    Новый пароль <%= required_field %> (Минимум 6 символов)<br />
    <%= f.password_field :new_password %>
  </p>

  <p>
    Новый пароль еще раз <%= required_field %> <br />
    <%= f.password_field :new_password_confirmation %>
  </p>

  <p>
    <%= f.submit "Изменить" %>
  </p>
<% end %>

<%= link_to t(:az_label_back), profile_path %>