<h1>Смена пароля</h1>
<% form_for(user, :url => "/set_new_password", :builder => AzFormBuilder) do |f| %>
  <%= f.error_messages(:header_message => '', :message => '') %>

  <p>
    Новый пароль <%= required_field %> (Минимум 6 символов)<br />
    <%= f.password_field :new_password %>
  </p>

  <p>
    Новый пароль еще раз <%= required_field %> <br />
    <%= f.password_field :new_password_confirmation %>
  </p>

  <%= hidden_field_tag 'hash_str', hash_str %>

  <p>
    <%= f.submit "Изменить" %>
  </p>
<% end %>

<%= link_to t(:az_label_back), '/profile' %>