<h1>New az_c_image</h1>

<% form_for(@az_c_image, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </p>
  <p>
    <%= f.label :az_c_image_category %><br />
    <%= f.text_field :az_c_image_category %>
  </p>

  <p>
    <%= f.file_field :c_image %><br/>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', az_c_images_path %>