<h1>Editing az_subscribtion</h1>

<% form_for(@az_subscribtion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :az_user_id %><br />
    <%= f.text_field :az_user_id %>
  </p>
  <p>
    <%= f.label :az_subscribtion_category_id %><br />
    <%= f.text_field :az_subscribtion_category_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @az_subscribtion %> |
<%= link_to 'Back', az_subscribtions_path %>