<%= aligner_tag %>
<div class="main-bottom-block">
  <div class="video-container">

    <table style="width: 100%">
      <tr>
        <td>
          <div class="video-link">
            <div class="video-title"><a href="/video/1">Схема сайта и дизайны</a></div>
            <a href="/video/1"><img alt="Схема сайта и дизайн сайта" width="180" height="116" src="/images/video/1.jpg" /></a>
            <div class="img-description">Построение схемы сайта и работа с дизайнами.</div>
            <%= aligner_tag %>
          </div>
        </td>
        <td>
          <div class="video-link">
            <div class="video-title"><a href="/video/2">Структуры данных</a></div>
            <a href="/video/2"><img alt="Структуры данных и валидаторы" width="180" height="116" src="/images/video/db.png" /></a>
            <div class="img-description">Структуры данных и валидаторы.</div>
            <%= aligner_tag %>
          </div>
        </td>
        <td>
          <div class="video-link">
            <div class="video-title"><a href="/video/3">Компоненты</a></div>
            <a href="/video/3"><img alt="Компоненты и работа с ними" width="180" height="116" src="/images/video/4.jpg" /></a>
            <div class="img-description">Компоненты и работа с ними.</div>
            <%= aligner_tag %>
          </div>
        </td>
        <td>
          <div class="video-link">
            <div class="video-title"><a href="/video/4">Техническое задание</a></div>
            <a href="/video/4"><img alt="Подготовка технического задания на сайт" width="180" height="116" src="/images/video/2.jpg" /></a>
            <div class="img-description">Подготовка технического задания.</div>
            <%= aligner_tag %>
          </div>
          <!--div class="video-link">
            <div class="video-title"><a href="/video/5">Задачи и управление проектами</a></div>
            <a href="/video/5"><img alt="Постановка задач в систему управления проектами и контроль за их выполнением" width="180" height="116" src="/images/video/6.jpg" /></a>
            <div class="img-description">Постановка задач и контроль за их выполнением.</div>
            <%= aligner_tag %>
          </div-->
        </td>
      </tr>
    </table>
    <%= aligner_tag %>
  </div>
</div>